{% extends 'blog/base.html' %} 
 
{% block title %} 
About 
{% endblock %} 
 
{% block content %} 
<h1 style="text-align: center; color: #a80ce1d5;">О нас</h1> 
<div class="rezume" style="margin-left: 16%; color: #c259ffd2;"> 
    <ol><h3>Разработчик ПО: Подлесняк Елизавета</h3></ol> 
    <ol><h4>Личные качества:</h4></ol> 
    <ol>  
        <ul> 
            <li> 
                <h6>Ленивая, но пунктуальная</h6> 
            </li> 
        </ul> 
    </ol> 
    <ol><h4>Навыки:</h4></ol> 
    <ol> 
        <ul> 
            <li> 
                <h6>Сладко спать</h6> 
            </li> 
        </ul> 
    </ol>  
</div> 
{% endblock %}